<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hyyf.ssm.mapper.PersonMapper">
	
	<select id="listAll" resultType="cn.hyyf.ssm.domain.Person">
		select * from person
	</select>
	
	<insert id="addRecord"  parameterType="cn.hyyf.ssm.domain.Person">
	 	insert into person values(date_format(Now(),'%Y%m%d%H%i%s'),#{username,jdbcType=CHAR},#{age,jdbcType=CHAR},#{gender,jdbcType=CHAR});
	</insert>
	
	<insert id="saveOrUpdate" parameterType="cn.hyyf.ssm.domain.Person">
		 insert into person(id,username,age,gender) values(#{id,jdbcType=CHAR},#{username,jdbcType=CHAR},#{age,jdbcType=CHAR},date_format(Now(),'%Y%m%d%H%i%s'))
		 ON DUPLICATE KEY UPDATE 
	     username=#{username,jdbcType=CHAR},age=#{age,jdbcType=CHAR},gender=date_format(Now(),'%Y%m%d%H%i%s');
	</insert>
	
	<select id='getDetail' resultType='cn.hyyf.ssm.domain.Person' parameterType="java.lang.String">
		select userName,age,gender from person where id=#{id,jdbcType=VARCHAR};
	</select>
	
</mapper>